@page "{id}"
@model RazorPages.Pages.Employees.EditModel

@{
    string photo = "~/images/no-image.jpg";
    if (Model.Employee != null)
    {
        photo = Model.Employee.Photo != null ? $"~/images/{Model.Employee.Photo}" : photo;
    }
}

<form method="post" class="mt-3" enctype="multipart/form-data">
    <input hidden type="text" asp-for="Employee.Id">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" asp-for="Employee.Name" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label">Email:</label>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" asp-for="Employee.Email" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label">Department:</label>
        </div>
        <div class="col-sm-10">
            <select class="form-control" asp-for="Employee.Department" asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>
        </div>
    </div>
    <div class="form-group row col-sm-4 offset-4">
        <img src="@photo" alt="@Model.Employee.Name" asp-append-version="true">
    </div>
    <div class="col-sm-10">
        <div class="custom-file">
            <input asp-for="Photo" class="custom-file-input form-control">
            <label class="custom-file-label">Click here to change photo</label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a class="btn btn-primary" asp-page="/Employees/Index">Back</a>
        </div>
    </div>
    @section Scripts {
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(fileName);
            })
        });
    </script>
    }
</form>