@page
@using RazorPages.Models;
@model RazorPages.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
    ViewData["ShowButtons"] = true;
}

<h1>@Model.Message</h1>

<div class="card-group">
    @foreach (var employee in Model.Employees ?? new List<Employee>())
    {
        <partial name="_DisplayEmployeePartial" model=@employee view-data=@ViewData />
    }
</div>